

html {
    background: snow;
    position: absolute;
    font-family: Verdana, sans-serif;
    height: 100%;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    font-weight: normal;
}
/*
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Verdana, sans-serif;
    font-weight: 400;
    line-height: 1;
    margin: 20px 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
*/
a {
    text-decoration: none;
}

.clear {
    height: 1px;
    clear: both;
    width: 100%;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

hr.hr-text{
    padding: 0;
    border: none;
    border-top: 1px solid #eee;
    text-align: center;
    margin: 30px auto 0 auto;

}



.hr-text.or{
    font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 .5em;
    background: #fff;
    text-align: center;
    margin: 0;
    color: #222;
}

section.form-container-section p.subtitle{
    font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.3px;
}


#navmenu {
    text-align: right;
}

#navpic {

}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow {
    max-width: 100%;
    max-height: 30%;
    position: relative;
    margin: auto;
}



.Slides {
    display: none;
}

/* Next & previous buttons */
.prevpic, .nextpic {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.nextpic {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevpic:hover, .nextpic:hover {
    background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 8.5s;
    animation-name: fade;
    animation-duration: 8.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#login{
    box-shadow: none;
    color: #FFFFFF;
    background-color: forestgreen;
    font-size: 18px;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
    user-select: none;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

#register{
    box-shadow: none;
    color: #FFFFFF;
    background-color: forestgreen;
    font-size: 18px;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
    user-select: none;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

#login:hover {
    box-sizing: content-box;
    background-color: rgba(0,0,0,0.8);
}

#register:hover{
    box-sizing: content-box;
    background-color: orange;
}

.button {
    -webkit-appearance: button;
    font: inherit;
    margin: 0;
    text-transform: none;
    align-items: flex-start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 50px;
}

.modal-form {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    width: 500px;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    box-sizing: inherit;
    display: block;
}

.modal-center{
    text-align: center;
}

.closebtn {
    text-decoration: none;
    float: right;
    font-weight: bold;
    color: inherit;
    transition: background-color .25s, color .15s, box-shadow .15s, opacity .25s, filter .25s, border .15s;
    box-sizing: inherit;
}

.form-container {
    padding: 0.01em 16px;
    box-sizing: inherit;
    display: block;
    cursor: auto;
}

.form-container-section{
    margin-top: 16px;
    margin-bottom: 16px;
    box-sizing: inherit;
    display: block;
    cursor: auto;
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.form-container-section-btn{
    box-shadow: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 8px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: background-color .25s,color .15s,box-shadow .15s, opacity .25s, filter .25s, border .15s;
    width: 100%;
    user-select: none;
    border: none;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.form-input{
    padding: 8px;
    display: block;
    width: 100%;
    overflow: visible;
    font: inherit;
    margin: 0;
    box-sizing: inherit;
    -webkit-appearance: textfield;
    -webkit-writing-mode: horizontal-tb;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;
}

.form-container-section input.user {
    background: url(../images/user.png)no-repeat 15px 7px #fff;
    background-position: 98%;
    display: block;
}

.form-container-section input.key {
    background: url(../images/key.png)no-repeat 15px 7px #fff;
    background-position: 98%;
    display: block;
}

.form-container-section input[type="text"] {
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #c0c0c0;
    border: 1px solid #2DC2BC;
    border-radius: 5px;
}

.form-container-section input[type="password"] {
    outline: none;
    font-size: 19px;
    font-weight: 400;
    border: 1px solid #2DC2BC;
    border-radius: 5px;
    color: #c0c0c0;
}

input[type="password"] {
    -webkit-text-security: disc;
}

.check{
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
    -webkit-appearance: checkbox;
    background-color: initial;
    border: initial;
}

.padding {
    padding-top: 16px;
    padding-bottom: 16px;
}

.forgotpwd-padding{
    padding: 8px 16px;
}

.border-top {
    border-top: 1px solid #ccc !important;
}

.margin-bottom{
    margin-bottom: 16px;
}

.border{
    border: 1px solid #ccc;
}

.closebtn-position{
    position: absolute;
    right: 0;
    top: 0;
}

.form-cancelbtn {
    box-shadow: none;
    color: #fff;
    background-color: #f44336;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
    user-select: none;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-transform: none;
    font: inherit;
    margin: 0;
    box-sizing: inherit;
    align-items: flex-start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
}

.right {
    float: right !important;
}

.light-grey{
    color: #000;
    background-color: #f1f1f1;
}

.closebtn-size{
    font-size: 36px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.closebtn:hover,
.closebtn:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.animate-zoom {
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}.login-avatar{
    border-radius: 50%;
    margin-top: 16px;
    margin-bottom: -5px;
    border-style: none;
 }

 .social-login{
     padding: 20px 0px 42px 0px;
     border-bottom: 1px solid #ccc;
     margin: 0 auto;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
     min-width: 264px;
     display: block;
     text-align: center;
     height: 50px;
 }

 .social-login a{
     font-weight: 600;
     color: #fff;
     margin: 0px 1.5% 0px 0px;
     border-radius: 4px;
     width: 32.33%;
     padding: 0px 0;
     font-size: 13px;
 }

 .social-login a span {
     margin-top: 10px;
     display: block;
 }

 .social-login a.yahoo1{
     background: purple;
     float: left;
 }

 i.yahoo2 {
     background: url(../images/twitter.png)no-repeat 10px 9px purple;
     width: 26px;
     height: 19px;
     display: inline-block;
     padding: 10px 6px;
     float: left;
     border-radius: 4px 0px 0px 4px;
 }

 .social-login a.facebook1 {
     background: #3B5998;
     float: left;
 }

 i.facebook2 {
     float: left;
     background: url(../images/facebook.png)no-repeat 6px 9px #37528C;
     width: 26px;
     height: 19px;
     display: inline-block;
     padding: 10px 6px;
     border-radius: 4px 0px 0px 4px;
 }

 .social-login a.google1 {
     background: #D34836;
     margin: 0;
     float: left;
 }

 i.google2 {
     background: url(../images/google.png)no-repeat 9px 9px #C74534;
     width: 26px;
     height: 19px;
     display: inline-block;
     padding: 10px 6px;
     float: left;
     border-radius: 4px 0px 0px 4px;
 }




/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-yahoo {
    background: #720E9E;
    color: white;
}

/* Google */
.fa-google {
    background: #f44336;
    color: white;
}

.futura{
    font-family: "futura-pt-n4","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .4px;
}







